{% load static %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

	<!--- basic page needs
   ================================================== -->
	<meta charset="utf-8">
	<title>DSC UOB</title>
	<meta name="description" content="The platform of our DSC Community!">
	<meta name="author" content="Muhammad Hasan Alasady">

	<!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
   ================================================== -->
	<link rel="stylesheet" href="{% static 'coming/css/base.css' %}">
	<link rel="stylesheet" href="{% static 'coming/css/main.css' %}">
	<link rel="stylesheet" href="{% static 'coming/css/vendor.css' %}">

	<!-- script
   ================================================== -->
	<script src="{% static 'coming/js/modernizr.js' %}"></script>

	<!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href="{% static 'coming/images/favicon.png' %}">

</head>

<body id="top">

	<!-- header
   ================================================== -->
	<header>

		<div class="row">
			<div class="logo">
				<a href="index.html">DSC - University Of Babylon</a>
			</div>

			<div class="social-links">
				<ul>
					<li><a href="https://www.facebook.com/dsc.uob/"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://twitter.com/dsc_uob"><i class="fa fa-twitter"></i></a></li>
					<li><a href="https://github.com/dsc-uob"><i class="fa fa-github"></i></a></li>
					<li><a href="https://www.instagram.com/dsc_uob/"><i class="fa fa-instagram"></i></a></li>
					<li><a href="https://www.youtube.com/channel/UCcY_4oCATCMcl7zPBCj55yg"><i class="fa fa-youtube"></i></a></li>
					<li><a href="https://www.linkedin.com/company/dsc-uob/"><i class="fa fa-linkedin"></i></a></li>
				</ul>
			</div>
		</div>

	</header> <!-- /header -->

	<!-- home
   ================================================== -->
	<section id="home" class="home-static">

		<div class="shadow-overlay"></div>

		<div class="content-wrap-table">

			<div class="main-content-tablecell">

				<div class="row">
					<div class="col-twelve">

						<div id="counter">
							<div class="half">
								<span id="days">334 <sup>days</sup></span>
								<span id="hours">23 <sup>hours</sup></span>
							</div>
							<div class="half">
								<span id="mins">50 <sup>mins</sup></span>
								<span id="secs">33 <sup>secs</sup></span>
							</div>
						</div>

						<div class="bottom-text">
							<h1>DSC Platform Coming Soon!</h1>
							<p>
								Wait for us soon, to launch the developer club platform for the University of Babylon!
							</p>
						</div>

					</div> <!-- /twelve -->
				</div> <!-- /row -->

			</div> <!-- /main-content -->

		</div> <!-- /content-wrap -->

	</section> <!-- /home -->


	<div id="preloader">
		<div id="loader"></div>
	</div>

	<!-- Java Script
   ================================================== -->
	<script src="{% static 'coming/js/jquery-2.1.3.min.js' %}"></script>
	<script src="{% static 'coming/js/plugins.js' %}"></script>
	<script src="{% static 'coming/js/main.js' %}"></script>
	<script src="{% static 'coming/js/counter.js' %}"></script>

</body>

</html>